.homemaindiv {
    position: relative;
    text-align: center;
    color: rgb(240, 240, 240);
  }
  
  .homemaindiv img {
    width: 100%;
    height: auto;
  }
  
  .textdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .h1 {
    font-size: 4em;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: rgb(251, 245, 245);
  }
  
  .h2 {
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: black;
  }
  